@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: black;
    color: white;
}

.btn {
    border: 2px solid green;
    padding: 7px;
    background-color: wheat;
    color: black;
    border-radius: 10px;
    margin: 10px;
    margin-top: 90px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.display-watch{
    height: 250px;
    border: 5px solid red;
}
.para{
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 70px;
}
@media (max-width:450px) {
    .display-watch{
        height: 140px;
        width: 250px;
    }
    .display-watch .para{
        font-size: 30px;
        text-align: center;
        position: relative;
        top: 35px;
    }
}


